<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
</head>
<body>
  <h1>Sistema de Administracion de Personas S.A.P.</h1>
  <!-- <div>
    {{msg1}}
  </div>
  <div>
    {{msg2}}
  </div>
  <div>
    {%for item in lista%}
    <p>{{item}}</p>
    {% endfor %}
    {{dic}}
  </div> -->
  <div>
    Numero de personas: {{numPersonas}}
  </div>
</body>
</html>